**/assets/
**/saves/
PSXPrev/*
RALibRetro/*
RATools/*
DuckStation3D/

ghidra_11.3_PUBLIC/

pcsx/

PCSX-redux/

Duckstation 3D.lnk

pcsx-redux.exe.lnk

RALibretro.lnk

mednafen/

ghidra_scripts/

ghidra_debugger_scripts

psx/small-soldiers/ghidra/small-soldiers.rep/

*.lock

*.lock~

gdb/
